@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-size: cover;
  nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .logo {
    font-size: 24px;
  }

  .menu {
    display: flex;
    flex-direction: column; /* Add this line */
    display: none; /* Add this line */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Add this line */
  }

  li {
    margin: 0 0 10px; /* Change margin */
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* Add this style to display the menu when the 'active' class is present */
  .menu.active {
    display: flex;
  }
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: #333;
}
.top {
  display: flex;
  background: rgba(164, 186, 218, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(164, 186, 218, 0.43);
}
