  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
.top {
  background: rgba(164, 186, 218, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(164, 186, 218, 0.43);
  display:flex;
 margin:25px;
}
#page {
  display: block;
  padding:20px;
  background: rgba(164, 186, 218, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(164, 186, 218, 0.43);
  width: 80%;
  margin: 550px auto 0 auto;
}
body{
 margin:0;
 background-size: cover;
